set timeout=2
set default=0

menuentry "Luminary (disk)" {
    multiboot /boot/kernel.bin root=/dev/hda1
    boot
}

menuentry "Luminary (initrd)" {
    multiboot /boot/kernel.bin
    module /boot/initrd.img initrd
    boot
}
